* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8rIKEDlfN8Pl79hXPqybtXnaqkuqr-ll1VA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}

/* standard tag */

i {
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


/* end */

/* header section */

.header {
    margin-bottom: 200px;
    position: sticky;
    padding: 15px;
    background-color: black;
    height: 50px;
    width: 100%;
}

.nav-bar-link {
    color: white;
    text-decoration: none;
}

/* end header section */

/* footer */

.footer {
    padding: 15px;
    background-color: black;
    height: 50px;
    width: 100%;
}

.footer p {
    text-align: center;
    color: white;
}

/* end */